{% extends "template.html" %}

{% block title %}Mentor Schedule{% endblock %}

{% block body %}
    <div>
        <p class="text-center"><span class="title">Mentor Schedule</span></p>
        <hr/>
        <div>
            <div class="justify-content-center mentor-section">
                <p class="text-center"><span class="title">{{ mentor.mentor_name }}</span></p>
                <hr/>
                <p><span class="title">Contact Name: </span>{{ mentor.contact_name }}</p>
                <p><span class="title">Category: </span>{{ mentor.category }}</p>
                <p><span class="title">Address: </span>{{ mentor.address }}</p>
                <p><span class="title">Description: </span>{{ mentor.description }}</p>
                <p><span class="title">Special Instructions: </span>{{ mentor.special_instructions }}</p>
                <a class="btn btn-primary" href="{{ url_for('mentor.view_mentor', mid=mentor.id) }}">View Mentor</a>
            </div>
            <hr/>
        </div>
        <div>
            {% for opportunity in mentor.opportunities %}
                <div class="justify-content-center outline-box">
                    <p class="text-center"><span class="title">Opportunity #{{ loop.index }}.</span></p>
                    <p class="text-center">{{ format_date(opportunity.date) }}, {{ get_session(opportunity.session) }}</p>
                    <hr/>
                    <p><span class="title">Registered Students:</span></p>
                    {% if not opportunity.students %}
                        <p>No students registered</p>
                    {% else %}
                        <div class="mb-2">
                            <p><u>Approved Students:</u></p>
                            {% for student in opportunity.students %}
                                {% if student.approved %}
                                    <div>
                                        <p class="d-inline-block"><span
                                                class="title">#{{ loop.index }}.</span> {{ student.last_name }}, {{ student.first_name }}
                                        </p>
                                        <a class="btn-sm btn-primary"
                                           href="{{ url_for('student.view_student', sid=student.id) }}">Student
                                            Information</a>
                                        <a class="btn-sm btn-danger"
                                           href="{{ url_for('student.delete_student', sid=student.id) }}">Delete
                                            Student</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <p><u>Pending Registrations:</u></p>
                            {% for student in opportunity.students %}
                                {% if not student.approved %}
                                    <div>
                                        <p class="d-inline-block"><span
                                                class="title">#{{ loop.index }}.</span> {{ student.last_name }}, {{ student.first_name }}
                                        </p>
                                        <a class="btn-sm btn-primary"
                                           href="{{ url_for('student.view_student', sid=student.id) }}">Student
                                            Information</a>
                                        <a class="btn-sm btn-danger"
                                           href="{{ url_for('student.delete_student', sid=student.id) }}">Delete
                                            Student</a>
                                        <a class="btn-sm btn-success"
                                           href="{{ url_for('student.confirm_student', sid=student.id) }}">Confirm
                                            Student</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}